@import '../../partials/mixins', '../../partials/variables';

.header {
    background-color: $lightPurple;
    padding: 0 1rem 1.5rem;
    
    &__container {
        display: flex;
        align-items: flex-start;
    }

    &__menu {
        padding-top: 1.6rem;
        padding-left: 1rem;
    }

    &__logo {
        padding: 0 0.5rem;
    }

    &__link {
        font-weight: 900;
        text-align: center;
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
}